.icon {
  width: $base * 4;
  height: $base * 4;
  fill: #fff;
}

.icon--facebook {
  display: block;
  width: $base * 2;
}

.icon--telegram {
  display: block;
  width: $base * 4;
  height: $base * 3;
}

.icon--twitter {
  display: block;
  width: $base * 4;
  height: $base * 3;
}

.icon--medium {
  display: block;
  width: $base * 4;
  height: $base * 3;
}

.icon--play {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  fill: #5e81ff;
}

.icon--home {
  fill: #fff;
  width: 14px;
  height: 17px;
}
.icon--folder {
  fill: #fff;
  width: 23px;
  height: 14px;
}
.icon--message {
  fill: #fff;
  width: 17px;
  height: 15px;
}
.icon--up-arrow {
  fill: #fff;
  width: 17px;
  height: 15px;
}

.icon--zoom {
  fill: #a7aac6;
}
