.icon {
  width: $base * 4;
  height: $base * 4;
}

.icon--facebook {
  display: block;
  width: $base * 2;
}

.icon--telegram {
  display: block;
  width: $base * 4;
  height: $base * 3;
}

.icon--twitter {
  display: block;
  width: $base * 4;
  height: $base * 3;
}

.icon--medium {
  display: block;
  width: $base * 4;
  height: $base * 3;
}

.icon--play {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  fill: #5e81ff;
}
