$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$base: 4px;

$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 15;
$padding-vertical: $base * 30;

$color-divider: #d8e3fe;
$transition: 0.2s;
