$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$base: 4px;

$fs-sm: 12px;
$fs-md: 15px;
$fs-lg: 18px;
$fs-xl: 48px;

$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 15;
$padding-vertical: $base * 30;

$color-white: #fff;
$color-divider: #d8e3fe;
$color-primary: #697ca6;
$color-secondary: #6188ff;
$transition: 0.2s;
