$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$base: 4px;

$fs-sx: 12px;
$fs-s: 15px;
$fs-m: 18px;
$fs-l: 24px;
$fs-xl: 36px;
$fs-xxl: 48px;

$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 15;
$padding-vertical: $base * 30;

$color-white: #fff;
$color-divider: #d1d1e4;
$transition: 0.2s;

$color-primary: #495274;
$color-secondary: #6188ff;

$color-yellow-500: #ffc735;

$color-cian-500: #35aaff;

$color-red-500: #ff4545;
$color-red-600: #b53333;

$color-gray-50: #d1d1e4;
$color-gray-100: #c7d3ff;
$color-gray-200: #aeb8d0;
$color-gray-300: #aeb4d2;
$color-gray-400: #8e96b7;
$color-gray-500: #8d96bd;
$color-gray-600: #7382a3;
$color-gray-700: #7a85ad;
$color-gray-800: #676f95;
$color-gray-900: #495274;


//secondary
$color-blue-50: #a0b4ff;
$color-blue-100: #6888ff;
$color-blue-200: #6188ff;
$color-blue-300: #5e80ff;
$color-blue-400: #5e81fe;
$color-blue-500: #456de2;
$color-blue-600: #5283ff;
$color-blue-700: #3159ce;
$color-blue-800: #4074f8;
$color-blue-900: #3d4f9f;
