//Vendor
@import "vendor/reset.scss";

@import "_vars.scss";
@import "mixins.scss";
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,700&family=Roboto:regular,500,700&display=swap);
@import "_icons.scss";

:root {
  @include quicksand;
  color: #8d96bd;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3d4f9f;
  padding: 0;
  margin: 0;
  font-family: $fw-regular;
}

h2 {
  @include roboto;
  font-size: 10px;
  margin-bottom: $base * 4;
  text-transform: uppercase;
  color: $color-secondary-900;
}

.section-subtitle {
  font-size: 48px;
  margin-bottom: $base * 7;
  color: $color-secondary-900;
}


.input {
  padding: $base * 3 $base * 4;
  border: 1px solid transparent;
  background: #efeff7;
  border-radius: $base / 2;
  color: #7a85ad;
  font-size: $fs-sm;
  font-family: inherit;

  &--size-lg {
    padding: $base * 5 $base * 6;
    border-radius: $base;
  }

  &::placeholder {
    color: #7a85ad;
    font-weight: $fw-bold;
    font-size: $fs-sm;
  }
}

.txt-center {
  text-align: center;
}

//for screen readers
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.or-block {
  display: inline-flex;
  align-items: center;
  font-weight: $fw-medium;
  font-size: $fs-sm;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    width: $base * 4;
    height: 1px;
    background-color: #dae4fe;
    margin: 0 $base * 4;
  }
}

.dots {
  display: flex;

  &__item {
    border-radius: 50%;
    width: $base * 2;
    height: $base * 2;
    background-color: #d1d6e3;
    transition: background-color 0.2s linear;
    cursor: pointer;

    &--active {
      background-color: #5283ff;
    }
    & + & {
      margin-left: $base * 3;
    }
  }
}

.section-outer {
  border-bottom: 1px solid $color-divider;
}
.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;

  &--wide {
    max-width: 1200px;
  }
}

// Blocks
@import "_icons.scss";
@import "blocks/_buttons.scss";
@import "blocks/_header.scss";
@import "blocks/_hero-image.scss";
@import "blocks/_customers.scss";
@import "blocks/_plan-and-manage";
@import "blocks/_features";
@import "blocks/_stats.scss";
@import "blocks/_blog.scss";
@import "blocks/_quotes.scss";
@import "blocks/_faq.scss";
@import "blocks/_get-started.scss";
@import "blocks/_newsletter.scss";
@import "blocks/_footer.scss";
