@import "_vars.scss";
@import "mixins.scss";
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,700&family=Roboto:regular,500,700);
@import "_icons.scss";

:root {
  @include quicksand;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
}

.section-outer {
  border-bottom: 1px solid $color-divider;
}
.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;

  &--wide {
    max-width: 1200px;
  }
}

//Vendor
@import "vendor/reset.scss";

// Blocks
@import "_icons.scss";
@import "blocks/_header.scss";
@import "blocks/_hero.scss";
@import "blocks/_customers.scss";
@import "blocks/_stats.scss";
@import "blocks/_blog.scss";
@import "blocks/_quotes.scss";
@import "blocks/_get-started.scss";
@import "blocks/_newsletter.scss";
@import "blocks/_footer.scss";
