@import "vendor/reset.scss";
@import "_icons.scss";
@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap);
@import "_vars.scss";
@import "mixins.scss";

:root {
  font-family: $fontFamaly;
  font-weight: 400;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
}

.container {
  max-width: $maxWidthContainer + px;
  margin: auto;

  @media (max-width: $md1 + px) {
    max-width: 970px;
  }
  @media (max-width: $md1 + px) {
    max-width: 750px;
  }
  @media (max-width: $md1 + px) {
    max-width: none;
    padding: 0 10px;
  }
}

// Blocks
@import "blocks/_header.scss";
