.section-newsletter {
  background-color: #fcfdff;

  .section-inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    flex-basis: 35%;

    &-title {
      text-transform: none;
      font-weight: $fw-bold;
      font-size: $fs-m;
      color: $color-blue-900;
      margin-bottom: $base * 4;
    }
    &-text {
      @include roboto;
      font-size: $fs-s;
      line-height: 2;
      color: #646d96;
    }
  }

  &__right {
    flex-basis: 53%;
  }

  .form-newsletter {
    display: flex;
    justify-content: space-between;

    &__input {
      flex: 1;
    }

    &__btn {
      margin-left: $base * 3;
      border-radius: $base;
    }

    > input {
      width: 100%;
      font-family: inherit;
      color: $color-blue-500;
      // background: #e2e2e2;
      font-weight: $fw-bold;
      color: $color-blue-900;
    }
  }
}
