.btn-wrapper {
  margin-left: $base * 11;
}

.btn {
  @include quicksand;
  display: inline-block;
  padding: $base * 3 $base * 5;
  margin: 0;
  background-color: none;
  border-radius: $base / 2;
  border: 1px solid transparent;
  text-decoration: none;
  font-weight: $fw-bold;
  font-size: $fs-sm;
  transition: background-color $transition linear, color 0.2s linear;
  white-space: nowrap;
  cursor: pointer;

  &--primary {
    background-color: #d2e1ff;
    color: #3a79ff;

    &:hover {
      background-color: darken(#d2e1ff, 5%);
    }
  }

  &--secondary {
    background-color: #4c85ff;
    color: $color-white;
    font-weight: $fw-bold;
    border-radius: $base / 2 0 0 $base / 2;
    padding: $base * 3 $base * 5;

    &:hover {
      background-color: darken(#4c85ff, 5%);
    }
  }

  &--without-bg {
    background-color: transparent;
    color: #adb4d2;
    border: 1px solid #d1d1e4;
    border-radius: 0 $base / 2 $base / 2 0;
    font-weight: $fw-medium;
    transition: border-color $transition linear, color $transition linear;

    &:hover {
      border-color: darken(#d1d1e4, 10%);
      color: darken(#adb4d2, 10%);
    }
  }

  &--danger {
    background-color: #ffd7d7;
    color: #d43f3f;

    &:hover {
      background-color: darken(#ffd7d7, 5%);
      color: darken(#d43f3f, 5%);
    }
  }

  &--grayscale {
    background-color: #e8ecf4;
    color: #7382a3;
    font-weight: $fw-medium;

    &:hover {
      background-color: darken(#e8ecf4, 5%);
      color: darken(#7382a3, 5%);
    }
  }

  &--size-lg {
    padding: $base * 5 $base * 16;
  }
}
