.btn-wrapper {
  margin-left: $base * 11;
}

.btn {
  @include quicksand;
  padding: $base * 3 $base * 5;
  margin: 0;
  background-color: none;
  border-radius: 2px;
  border: 1px solid transparent;
  text-decoration: none;
  font-weight: $fw-bold;
  font-size: $fs-sm;
  transition: background-color $transition linear, color 0.2s linear;

  &--primary {
    background-color: #d2e1ff;
    color: #3a79ff;

    &:hover {
      background-color: darken(#d2e1ff, 5%);
    }
  }

  &--secondary {
    background-color: #4c85ff;
    color: #fff;
    font-weight: $fw-bold;
    border-radius: 2px 0 0 2px;
    padding: $base * 3 $base * 5;

    &:hover {
      background-color: darken(#4c85ff, 5%);
    }
  }

  &--without-bg {
    background-color: #f5f8ff;
    color: #adb4d2;
    border: 1px solid #d1d1e4;
    border-radius: 0 2px 2px 0;
    font-weight: $fw-medium;
    transition: border-color $transition linear, color $transition linear;

    &:hover {
      border-color: darken(#d1d1e4, 10%);
      color: darken(#adb4d2, 10%);
    }
  }

  &--danger {
    background-color: #ffd7d7;
    color: #d43f3f;

    &:hover {
      background-color: darken(#ffd7d7, 5%);
      color: darken(#d43f3f, 5%);
    }
  }
}
