.btn-wrapper {
  margin-left: $base * 11;
}

.btn {
  @include quicksand;
  display: inline-block;
  color: $color-blue-500;
  padding: $base * 3 $base * 5;
  margin: 0;
  background-color: none;
  border-radius: $base / 2;
  border: 1px solid transparent;
  text-decoration: none;
  font-weight: $fw-bold;
  font-size: $fs-xs;
  transition: background-color $transition linear, color 0.2s linear;
  white-space: nowrap;
  cursor: pointer;

  &--primary {
    background-color: #d2e1ff;
    color: $color-blue-700;

    &:hover {
      background-color: darken(#d2e1ff, 5%);
    }
  }

  &--secondary {
    background-color: $color-blue-500;
    color: $color-white;
    font-weight: $fw-bold;
    border-radius: $base / 2 0 0 $base / 2;
    padding: $base * 3 $base * 5;

    &:hover {
      background-color: darken($color-blue-500, 5%);
    }
  }

  &--without-bg {
    background-color: transparent;
    color: #73757b;
    border: 1px solid $color-gray-50;
    border-radius: 0 $base / 2 $base / 2 0;
    font-weight: $fw-medium;
    transition: border-color $transition linear, color $transition linear;

    &:hover {
      border-color: darken($color-gray-50, 15%);
      color: darken(#adb4d2, 50%);
    }
  }

  &--danger {
    background-color: #ffd7d7;
    color: $color-red-600;

    &:hover {
      background-color: darken(#ffd7d7, 5%);
      color: darken($color-red-600, 5%);
    }
  }

  &--grayscale {
    background-color: #e8ecf4;
    color: $color-gray-600;
    font-weight: $fw-medium;

    &:hover {
      background-color: darken(#e8ecf4, 5%);
      color: darken($color-gray-600, 5%);
    }
  }

  &--size-lg {
    padding: $base * 5 $base * 16;
  }
}
