.section-features {
  background: url(../../../assets/images/features-clouds.svg) no-repeat center;
  .features-list {
    display: flex;
    justify-content: space-around;
    text-align: center;

    &__item {
      flex-basis: 16%;
      position: relative;

      &:not(:first-child)::before {
        content: "";
        height: 1px;
        background-color: #dae4fe;
        width: 28px;
        position: absolute;
        top: 50%;
        right: 110%;
        z-index: 1;
        transform: translate(-50%, -50%);
      }

      &-icon {
        margin: 0 auto;
        width: $base * 18;
        height: $base * 18;
        background-color: #f1f5ff;
        border-radius: 100%;
        margin-bottom: $base * 8;
        position: relative;
        transition: box-shadow $transition linear;

        &:hover {
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
        }

        .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 1;
          transform: translate(-50%, -50%);
        }
      }

      &-title {
        font-size: $fs-md;
        font-weight: $fw-bold;
        margin-bottom: $base * 7;
        color: #4074f8;
      }

      &-text {
        @include quicksand;
        font-size: $fs-sm;
        margin-bottom: $base * 6;
        line-height: 1.8;
        color: #adb3cb;
      }
    }
  }
}
