.section-footer {
  border-bottom: 0;
  .section-inner {
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
  }
}

.copyright {
  margin-left: $base * 24;
  margin-top: $base * 7;
  font-size: $fs-sx;
  letter-spacing: 5%;
  font-weight: $fw-medium;
  color: $color-gray-800;
}
