.section-header {
  .section-inner {
    padding-top: $padding-vertical-xs;
    padding-bottom: $padding-vertical-xs;
  }
}

.main-navigation {
  display: flex;
  align-items: center;
}

.logo {
  &__link {
    display: block;
    background-color: $color-secondary-400;
    width: $base * 6;
    height: $base * 6;
    border-radius: 50%;
  }
}

.nav {
  margin-left: $base * 18;
}

.nav-wrapper {
  display: flex;
  &__item {
    & + & {
      margin-left: $base * 10;
    }
    &-link {
      font-size: $fs-sm;
      color: $color-primary;
      text-decoration: none;
      letter-spacing: 5%;
      font-weight: $fw-medium;
      transition: color $transition linear;

      &:hover {
        color: $color-secondary;
      }

      &--active {
        font-weight: $fw-bold;
        color: $color-secondary-500;
      }
    }
  }
}

.socials {
  margin-left: auto;

  & svg {
    fill: $color-primary;
    transition: fill 0.2s linear;

    &:hover {
      fill: $color-secondary-200;
    }
  }
}

.socials-wrapper {
  display: flex;
  align-items: center;

  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
    }
  }
}
