.section-hero-image {
  position: relative;

  .dots {
    position: absolute;
    bottom: $base * 7;
    left: 50%;
    transform: translateX(-50%);
  }
}
.slider-hero-image {
  &__item {
    height: $base * 142;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;

    &-content {
      h2 {
        font-weight: $fw-light;

        span {
          font-weight: $fw-medium;
        }
      }
      .text {
        @include roboto;
        font-size: $fs-md;
        max-width: 55%;
        line-height: 2;
        margin: 0 auto $base * 5;
        letter-spacing: 0.5px;
      }
    }

    .btn-wrapper-icon-play {
      display: block;
      margin: 0 auto;
      padding: 0;
      width: $base * 13;
      height: $base * 13;
      background-color: $color-white;
      border-radius: 100%;
      box-shadow: 0 $base * 3 $base * 12 rgba(#c9d1e7, 6);
      border: 0;
    }
  }
}
