.slider-hero-image {
  &__item {
    height: $base * 142;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;

    &-content {
      h2 {
        font-weight: $fw-light;

        span {
          font-weight: $fw-medium;
        }
      }
      .text {
        @include roboto;
        font-size: 15px;
        width: 55%;
        line-height: 2;
        margin: 0 auto 20px;
        letter-spacing: .5px;
      }
    }

    .btn-wrapper-icon-play {
      display: block;
      margin: 0 auto;
      padding: 0;
      width: $base * 13;
      height: $base * 13;
      background-color: #fff;
      border-radius: 100%;
      box-shadow: 0 10px 50px rgba(#c9d1e7, 6);
      border: 0;
    }
  }
}
