.section-quotes {
  background: linear-gradient(#eaf0ff, #f6f9ff);

  .section-inner {
    display: flex;
    justify-content: space-between;

    .section-subtitle {
      font-size: $base * 9;
    }
  }

  &__left,
  &__right {
    flex-basis: 45%;
  }

  &__left {
    .text {
      line-height: 2;
    }
  }
  &__right {
    .dots {
      justify-content: center;
    }
  }

  .slider-quotes {
    &__item {
      border: 1px solid #d8e3fe;
      background: $color-white;
      padding: $base * 10 $base * 10 $base * 17;
      position: relative;
      margin-bottom: $base * 19;
      box-shadow: 0 $base $base * 12 #f3f5fa;

      &-text {
        line-height: 2;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: $fs-s;
        color: $color-gray-800;
      }

      &-photo {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        background-color: lightpink;
        width: $base * 15;
        height: $base * 15;
        border-radius: 100%;
        background: #333 url(../../assets/images/uploads/quote-photo.svg) no-repeat
          center;
      }
    }
  }
}
