.a {
  color: #3d4f9f;
  color: #3a79ff;
  color: #3374ff;
  color: #4074f8;
  color: #5283ff;
  color: #5e81ff;
  color: #4c85ff;
  color: #5e81fe;
  color: #6188ff;
  color: #5982e7;
  color: #6888ff;
  color: #5e80ff;
  color: #577afa;
  color: #87a0ff;
  color: #b3d4fc;

  color: #7a85ad;
  color: #7382a3;
  color: #647498;
  color: #697ca6;
  color: #8c96c0;
  color: #8d96bd;
  color: #a7aac6;
  color: #c0c0c0;
  color: #adb4d2;
  color: #b1b1d1;
  color: #efeff7;
  color: #dae4fe;
  color: #d1d6e3;
  color: #d8e3fe;
  color: #d2e1ff;
  color: #b9d0ff;
  color: #d1d1e4;
  color: #ffd7d7;
  color: #e8ecf4;
  color: #d7deec;
  color: #f4f7ff;
  color: #c9d1e7;
  color: #d6dae5;
  color: #f1f5ff;
  color: #adb3cb;
  color: #e9efff;
  color: #f5f8ff;
  color: #f0f5ff;
  color: #a7aac6;
  color: #e5ebf8;
  color: #a8b4e5;
  color: #8192d9;
  color: #eaf0ff;
  color: #f6f9ff;
  color: #f3f5fa;
  color: #676f95;
  color: #333333;
  color: #495274;
  color: #8e96b7;
  color: #565f82;
  color: #e6e6e6;
  color: #424963;
  color: #222222;
  color: #c7d3ff;
  color: #a0b4ff;
  color: #aebfff;
  color: #fcfdff;
  color: #aeb8d0;
  color: #cccccc;
}