<header class="section-outer section-header">
  <div
    class="section-inner section-inner--wide vertical-indent vertical-indent--s"
  >
    <div class="main-navigation">
      <h1 class="logo">
        <a class="logo__link" href="#" aria-label="logo">
          <span class="visually-hidden">Logo</span>
        </a>
      </h1>

      <button class="btn btn--no-bg btn-burger" aria-label="menu-button">
        <span class="btn-burger__line"></span>
        <span class="btn-burger__line"></span>
        <span class="btn-burger__line"></span>
      </button>

      <div class="main-navigation__inner-wrap">
        <nav class="nav">
          <ul class="nav-wrapper">
            <li class="nav-wrapper__item">
              <a
                class="nav-wrapper__item-link nav-wrapper__item-link--active"
                href="#"
                data-scroll="home"
                >Home</a
              >
            </li>

            <li class="nav-wrapper__item">
              <a class="nav-wrapper__item-link" href="#" data-scroll="blog"
                >Blog</a
              >
            </li>

            <li class="nav-wrapper__item">
              <a class="nav-wrapper__item-link" href="#" data-scroll="features"
                >Features</a
              >
            </li>

            <li class="nav-wrapper__item">
              <a class="nav-wrapper__item-link" href="#" data-scroll="pricing"
                >Pricing</a
              >
            </li>

            <li class="nav-wrapper__item">
              <a
                class="nav-wrapper__item-link"
                href="#"
                data-scroll="documentation"
                >Documentation</a
              >
            </li>
          </ul>
        </nav>

        <div class="socials">
          <ul class="socials-wrapper">
            <li class="socials-wrapper__item">
              <a
                class="socials-wrapper__item-link"
                href="#"
                aria-label="facebook"
              >
                <svg class="icon icon--facebook">
                  <use xlink:href="#facebook"></use>
                </svg>
              </a>
            </li>

            <li class="socials-wrapper__item">
              <a
                class="socials-wrapper__item-link"
                href="#"
                aria-label="telegram"
              >
                <svg class="icon icon--telegram">
                  <use xlink:href="#telegram"></use>
                </svg>
              </a>
            </li>

            <li class="socials-wrapper__item">
              <a
                class="socials-wrapper__item-link"
                href="#"
                aria-label="twitter"
              >
                <svg class="icon icon--twitter">
                  <use xlink:href="#twitter"></use>
                </svg>
              </a>
            </li>

            <li class="socials-wrapper__item">
              <a
                class="socials-wrapper__item-link"
                href="#"
                aria-label="medium"
              >
                <svg class="icon icon--medium">
                  <use xlink:href="#medium"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="btn-wrapper">
          <a class="btn btn--primary" href="#">Get started</a>
        </div>
      </div>
    </div>
  </div>
</header>
