<header class="section-outer section-header">
  <div class="section-inner section-inner--wide">
    <div class="main-navigation">
      <a class="logo" href="#"></a>
      <nav class="nav">
        <ul class="nav-wrapper">
          <li class="nav-wrapper__item">
            <a
              class="nav-wrapper__item-link nav-wrapper__item-link--active"
              href="#"
              >Home</a
            >
          </li>

          <li class="nav-wrapper__item">
            <a class="nav-wrapper__item-link" href="#">Blog</a>
          </li>

          <li class="nav-wrapper__item">
            <a class="nav-wrapper__item-link" href="#">Features</a>
          </li>

          <li class="nav-wrapper__item">
            <a class="nav-wrapper__item-link" href="#">Pricing</a>
          </li>

          <li class="nav-wrapper__item">
            <a class="nav-wrapper__item-link" href="#">Documentation</a>
          </li>
        </ul>
      </nav>

      <div class="socials">
        <ul class="socials-wrapper">
          <li class="socials-wrapper__item">
            <a class="socials-wrapper__item-link" href="#">Home</a>
          </li>

          <li class="socials-wrapper__item">
            <a class="socials-wrapper__item-link" href="#">Blog</a>
          </li>

          <li class="socials-wrapper__item">
            <a class="socials-wrapper__item-link" href="#">Features</a>
          </li>

          <li class="socials-wrapper__item">
            <a class="socials-wrapper__item-link" href="#">Pricing</a>
          </li>
        </ul>
      </div>

      <div class="btn"></div>
    </div>
  </div>
</header>
